<h1>Exerise Categories</h1>

<% categories.results.forEach(c => { %>
    <% if (c.id != 14) { %>
        <div>
            <h2><%= c.name %> </h2>
            <form action="/workout/<%= workoutId %> /category" method="POST">
                <input type="hidden" name="categoryId" value="<%= c.id %>">
                <button type="submit">See exercises</button>


            </form>
        </div>
    <% } %>
<% }) %>
