<div style="text-align: center;">
    <h1>Error <span style="color: red;">404</span> not found, </br>  <span style="color: pink; box-shadow: 10px green;">Find errors somewhere else Adam!</span></h1>
    <img src="https://cdn.shopify.com/s/files/1/0533/2089/files/best-404-pages-github.gif?v=1512660110" alt="" style="width: 600px">
</div>
