<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Bot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul>
          <% if (!currentUser) { %>
            <li><a href="/auth/signup">Sign up</a></li>
            <li><a href="/auth/login">Login</a></li>

          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/">My Workouts</a></li>
          <% } %>
        </ul>
      </nav>
      <% include partials/alerts %>
    </header>
    <h1>Workout Bot</h1>
    <%- body %>
  </body>
</html>
