<h3>
    <form action="/workout" method="GET">

        Workout Name: <input type="text" name="wName" placeholder="Workout Name">
        <button type="submit">Create Workout</button>

    </form>
</h3>
