ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  font-size: 30px;
}

h1 {
  color: chartreuse;
}

img {
  width: 200px;
}

nav {
  color: black;
}

li:hover {
  color: black;
}

.exercise {
  border: 2px solid darkgreen;
  
}
