body {
  background-color: lightyellow;
}
ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  font-size: 30px;
}

h1 {
  color: chartreuse;
}

img {
  width: 200px;
}

nav {
  color: black;
}

li:hover {
  color: black;
}

.exercise {
  border: 2px solid darkgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.wcontainer {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  border-bottom-width: 10px;
}

.econtainer {
  border-style: inset;
  border-color: black;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: yellow;
}

.etitle {
  width: 400px;
  border-style: inset;
  border-color: black;
  border-width: 4px 2px 4px 2px;
  background-color: orange;
  text-align: center;
}

.b-options {
  background-color: orange;
}

/* .bcontainer button {
  display: block;
} */

.bcontainer {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

#container-exercise {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  margin: 0 auto;
}

.endspace {
  height: 60px;
}
